.forBorder {
    border: 1px solid black;
}

.hero-image {
    width: 34rem;
    height: auto;
    border-radius: 30px;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.project-image {
    width: 21rem;
    height: auto;
    margin-bottom: 2rem;
}